__pycache__/
docs/build
.vscode
dist/
*.egg-info/
.ipynb_checkpoints
.DS_Store
.idea
*.pdf
*.png
*.zip
*.out
*.csv
*.pt
*.bin
*.pth

examples/mnli_example/MNLI/
examples/mnli_example/apex/
examples/mnli_example/__MACOSX/
